.lobby {
  position: fixed;
  left: 10%;
}

.lobby-section {
  display: inline-block;
  margin-right: 50px;
}

.game {
  width: 100%;
  height: 100%;
}

.side-info {
  position: fixed;
  bottom: 5%;
}

.side-info-left {
  left: 10%;
}

.side-info-right {
  right: 10%;
}

.side-info-head-left {
  color: red;
}

.side-info-head-right {
  color: blue;
}

.side-info-controls {
  display: flex;
}

.side-info-controls-right {
  flex-direction: row-reverse;
}

.side-info-controls-sub {
  align-self: flex-end;
  padding: 0 10px;
}

.you-are {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

.you-are .you-are-side {
  color: white;
  padding: 2px;
}

.you-are-left .you-are-side {
  background-color: red;
}

.you-are-right .you-are-side {
  background-color: blue;;
}

.table  {
  width: 80%;
  height: 35vw;
  background-color: burlywood;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0px 20px
}

.rack {
  height: 28vw;
  width: 28vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
}

.rack-left {
  left: 3vw;
}

.rack-right {
  right: 3vw;
}

.square {
  width: 4vw;
  height: 4vw;
}

.cup {
  width: 180%;
  height: 180%;
  margin-top: -45%;
  margin-left: -45%;
  border-radius: 50%;
  display: none;
  box-sizing: border-box;
  border: 1px solid white;
  cursor: pointer;
}

.cup-visible {
  display: block;
}

.cup-left {
  background-color: red;
}

.cup-right {
  background-color: blue;
}

.cup-inactive {
  background-color: grey;
}

.help {
  position: fixed;
  top: 0;
  right: 0;
}